.leaderboard-view {
  margin-top: 5px;
  border: 5px solid white;
  border-radius: 30px;
  height: 20vw;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}

.leaderboard-table {
  border-top: 5px solid white;
}

.leaderboard-row {

}